<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_elomate"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_elomate_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Elomate"
        tools:targetApi="31">
        <activity
            android:name=".ui.onboarding.splash.SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.schedule.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.forum.DetailForumActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.forum.AddForumActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.forum.ForumActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.assigment.DetailAssigment2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.assigment.EssayAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.assigment.MultipleChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.assessment.QuestionPeerAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.assigment.DetailPreReadingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.assessment.ListPeerAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.assessment.PeerAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.assessment.SelfAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.assigment.DetailAssigmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mentoring.FeedbackFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.AssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ParticipantDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.report.ReportDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.assigment.CourseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.ToDoListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.AnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing" />
    </application>

</manifest>