<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Elomate"
        tools:targetApi="31">
        <activity
            android:name=".ui.assigment.DetailAssigment2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.assigment.EssayAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.assigment.MultipleChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.self_peer.QuestionPeerAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.assigment.DetailPreReadingActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.self_peer.ListPeerAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.self_peer.PeerAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.self_peer.SelfAssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.assigment.DetailAssigmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.onboarding.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mentoring.FeedbackFormActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.AssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ParticipantDataActivity"
            android:exported="false" />
        <activity
            android:name=".ui.report.ReportDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.ScheduleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.assigment.CourseActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.ToDoListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.AnnouncementActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>